@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Open Sans";
    color: rgb(223, 223, 223);
    background-color: #222;
}
