---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
---

<style>
  body {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>

<html lang="en">
  <head>
    <Header />
  </head>
  <body class="flex flex-col justify-center items-center h-dvh p-6 md:p-10">
    <Card glowingBorder="true">
      <h1 class="text-xl md:text-3xl font-normal mb-4">JASON HWANG</h1>
      <h2 class="text-md md:text-lg font-normal text-gray-400 mb-4">
        software and more
      </h2>
      <ul class="list-none mt-4">
        <li class="mb-2">
          <a href="https://github.com/dotjasonhwang">
            <img
              src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github"
              alt="GitHub"
            />
          </a>
        </li>
        <li class="mb-2">
          <a href="https://linkedin.com/in/dotjasonhwang">
            <img
              src="https://img.shields.io/badge/linkedin-%230077B5.svg?style=for-the-badge&logo=linkedin&logoColor=white"
              alt="LinkedIn"
            />
          </a>
        </li>
        <li class="">
          <a href="https://instagram.com/dotjasonhwang">
            <img
              src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white"
              alt="Instagram"
            />
          </a>
        </li>
      </ul>
    </Card>
    <Card>
      <Footer />
    </Card>
  </body>
</html>
