---
const { glowingBorder } = Astro.props;
import "../styles/global.css";
---

<!-- https://ibelick.com/blog/create-animated-gradient-borders-with-css -->
<style>
  .card {
    width: w-full;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: 1rem;
  }

  @media (min-width: 1024px) {
    /* equivalent to lg */
    .card {
      padding: 3rem;
    }
  }

  .glowingBorder {
    background:
      linear-gradient(#2a2a2a, #2a2a2a) padding-box,
      linear-gradient(var(--angle), #4cea7f, #2a2a2a, #2a2a2a) border-box;
    animation: 8s rotate linear infinite;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>

<div
  class:list={[
    "card",
    "w-full",
    "max-w-xl",
    glowingBorder ? "glowingBorder" : "",
  ]}
>
  <slot />
</div>
