<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<!-- Standard favicon for most browsers -->
<link rel="icon" href="/turtle.ico" type="image/x-icon" />

<!-- Apple Touch Icon (for iOS devices and Safari on macOS) -->
<link rel="apple-touch-icon" href="/turtle.png" />

<title>dotjasonhwang</title>
